{{page-title "Aboutx"}}

<button
  type="button"
  {{on "click" this.goAway}}
>
  Click to navigate to parent "other" route using routerService (nok: reloads model)
</button>

<div style="height: 20px;"/>

<button
  type="button"
  {{on "click" this.goAwayWithTransitionToRoute}}
>
  Click here to navigate to parent "other" route using (deprecated) transtionToRoute (ok: no reload of model)
</button>

{{outlet}}